@use "../auxil/vars";
@use "../auxil/utils";

#container {
    width: 100%;

    padding: 0 1rem;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    gap: .5rem;
}
