//Variables
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$font: 'Poppins', Arial, sans-serif;

$color-background-app: #101010;
$color-background-dark: #050505;
$color-background-darkest: #000000;

$color-primary: #A900A9;
$color-alert: #920000;
$color-info: #00AA33;

$color-text: #EFEFEF;
$color-text-white: #FFFFFF;
